{
    "presets": [
        "@babel/preset-react",
        "@babel/preset-typescript"
    ],
    "plugins": [
        "react-hot-loader/babel",
        [
            "import",
            {
                "libraryName": "antd",
                "libraryDirectory": "lib",
                "style": true
            },
            "antd"
        ]
    ]
}